.searchBarIcon--phone__search--bar--search {
    display: none;
}

.portalWrapper--phone__search--bar :global(.vtex-search-2-x-history-and-top-wrapper) {
    width: 100%;
}

.portalWrapper--phone__search--bar :global(.vtex-search-2-x-itemListList) {
    display         : flex;
    flex-direction  : column;
    gap             : 1px;
    background-color: #d5d5d5;
}

.portalWrapper--phone__search--bar :global(.vtex-search-2-x-itemListItem) {
    background-color: #ffff;
}

.portalWrapper--phone__search--bar :global(.vtex-search-2-x-itemListLinkTitle) {
    font-family: 'Open Sans';
    font-size  : 1rem;
}

.portalWrapper--header__search-bar-desktop :global(.vtex-search-2-x-itemListList) {
    display         : flex;
    flex-direction  : column;
    gap             : 1px;
    background-color: #d5d5d5;
}

.portalWrapper--header__search-bar-desktop :global(.vtex-search-2-x-itemListItem) {
    background-color: #ffff;
}

.portalWrapper--header__search-bar-desktop :global(.vtex-search-2-x-itemListLinkTitle) {
    font-family: 'Open Sans';
    font-size  : 1rem;
}

.autoCompleteOuterContainer--phone__search--bar :global(.vtex-styleguide-9-x-input) {
    padding-left: 10px;
    color: #242424;
}
