.paragraph--layout__two--description {
    font-family  : 'Open Sans';
    margin       : 0px;
    margin-top   : 5px;
    margin-bottom: 20px;
    font-size    : .75rem;
    color        : #242424;
    font-weight  : 400;
    line-height  : 1.5;
}

@media screen and (max-width: 640px) {
    .paragraph--layout__two--description{
        text-align: center;
        margin: 0px 40px 35px;
    }
}