.container--header__sticky-layout {
    width           : 100%;
    background-color: #E20600;
}

@media screen and (max-width: 640px) {
    .container--sticky-height-tablet {
        height: 58px;
    }

    .wrapper--sticky-height-tablet {
        height: 58px;
    }
}