.flexRow--header__sticky-layout-container {
    height      : 100%;
    max-width   : none;
    margin-right: 0;
    margin-left : 0;
}

.flexRow--header__sticky-layout-container :global(.vtex-store-components-3-x-container) {
    padding-left : 0;
    padding-right: 0;
    height       : 100%;
    max-width    : none;
    margin-right : 0;
    margin-left  : 0;
}

.flexRowContent--header__sticky-layout-container {
    height: 100%;
}

.flexRow--header__modal-first-section {
    background-color: #000000;
}

.flexColChild--header__modal-general-section {
    width: 600px;
}