.minicartWrapperContainer--header__top-section-minicart {
    width           : 60px;
    display         : flex;
    justify-content : center;
    margin-left     : 10px;
    background-color: #e10600;
}

.minicartWrapperContainer--header__top-section-minicart:hover {
    background-color: #C70500;
}

.minicartContainer--header__top-section-minicart {
    width: 100%;
    justify-content: center;
}

.cartIcon--header__top-section-minicart {
    width : 20px;
    height: 25px;
    color : #ffff;
}

.cartIcon--header__top-section-minicart:hover {
    background-color: #C70500;
}

:global(.vtex-button) {
    border       : none;
    border-radius: 0;
}

:global(.vtex-button):hover {
    background-color: inherit;
}
:global(.vtex-minicart-2-x-cartIcon){
    color: #ffff
}
.openIconContainer--header__top-section-minicart {
    padding: 0px;
    width: 100%;
}

.openIconContainer--header__top-section-minicart :global(.vtex-button) {
    width: 100%;
}


.minicartQuantityBadge--header__top-section-minicart {
    background-color: #000000;
    top: -0.3rem;
}

@media screen and (max-width: 790px) {
    .minicartWrapperContainer--header__top-section-minicart {
        height: 48px;
    }
}

@media screen and (max-width: 640px) {
    :global(.vtex-minicart-2-x-cartIcon){
        width: 26px;
        height: 26px;
    }
    :global(.vtex-minicart-2-x-minicartWrapperContainer){
        margin-right: 5px;
    }
    :global(.vtex-minicart-2-x-openIconContainer){
        padding: 0px 2px;
    }
    :global(.vtex-minicart-2-x-minicartWrapperContainer){
        margin: 0px;
        margin-right: 3px;
    }
}