.minicartWrapperContainer--header__top-section-minicart {
    width           : 60px;
    display         : flex;
    justify-content : center;
    margin-left     : 3px;
    background-color: #e10600;
}

.minicartWrapperContainer--header__top-section-minicart:hover {
    background-color: #C70500;
}

.cartIcon--header__top-section-minicart {
    width : 20px;
    height: 25px;
    color : #ffff;
}

.cartIcon--header__top-section-minicart:hover {
    background-color: #C70500;
}

:global(.vtex-button) {
    border       : none;
    border-radius: 0;
}

:global(.vtex-button):hover {
    background-color: inherit;
}


@media screen and (max-width: 1024px) {
    .minicartWrapperContainer--header__top-section-minicart {
        height: 41px;
    }
}