.link--ayuda__contacto {
    margin-bottom   : 1.25rem;
    min-width       : 8.75rem;
    max-width       : 15.625rem;
    height          : 3.25rem;
    font-size       : 1.125rem;
    border-radius   : 3px;
    background-color: #e10600;
    color           : #fff;
    border          : none;
    box-shadow      : 0 -2px 0 rgb(0 0 0 / 30%) inset;
}

.link--ayuda__contacto:hover {
    background-color: #C70500;
}

.label--ayuda__contacto {
    padding       : 0px;
    font-family   : "Open Sans";
    font-weight   : 400;
    text-transform: capitalize;
    padding       : 0 0.9375rem;
    line-height   : 1;
}

@media screen and (min-width: 640px) {
    .link--ayuda__contacto {
        height       : 2.5rem;
        font-size    : .9375rem;
    }
}