

.flexCol--product__shelf--description {
    padding        : 0px;
    padding-left: 10px;
    justify-content: space-around;
}

.flexColChild--product__shelf--description :global(.vtex-product-summary-2-x-nameContainer) {
    padding        : 0px;
    justify-content: flex-start;
}

.flexColChild--product__shelf--description {
    margin-bottom: 7px;
    text-align   : start;
}

.flexColChild--product__shelf--description :global(.vtex-button):hover {
    background-color: #376bd4;
}


:global(.vtex-store-components-3-x-skuSelectorSubcontainer--medidas) {
    margin: 0px;
}

:global(.vtex-store-components-3-x-skuSelectorTextContainer) {
    text-align: start;
}

:global(.vtex-store-components-3-x-skuSelectorOptionsList) {
    margin: 0px;
}

.flexRowContent--product__shelf--details {
    flex-direction: column;
    margin-top: 5px;
}

.flexRow--product__shelf {
    padding: 0px;
}

.flexColChild--product__shelf--description :global(.vtex-button) {
    background-color: #E10600;
    border-radius: 5px;
}

.flexColChild--product__shelf--description :global(.vtex-button):hover {
    background-color: #C70500;
}

.flexCol--content__filters--containter {
    padding: 6px 0px;
}

.flexCol--search__results--filter-desktop {
    padding: 15px;
}

.flexRow--search__results--breadcrumb :global(.vtex-store-components-3-x-container) {
    padding: 0px;
    max-width: none;
}

@media screen and (min-width: 640px) {
    .flexCol--product__shelf--description {
        gap            : 5px;
        justify-content: center;
    }

    .flexRowContent--product__shelf {
        flex-direction: column;
    }

    .flexRowContent--product__shelf :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: 100% !important;
    }

    .flexCol--search__results--filter {
        padding      : 0px;
        border-bottom: 1px solid #D5D5D5;
    }

    :global(.vtex-product-summary-2-x-imageStackContainer) {
        padding: 0px 15px;
    }

    .flexRowContent--search__results :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: 100% !important;
    }

    .flexRowContent--search__results {
        padding: 0px 15px;
    }

    .flexCol--product__shelf--image :global(.vtex-product-summary-2-x-imageContainer) {
        padding: 0px;
    }
    .flexColChild--product__shelf--description :global(.vtex-product-summary-2-x-nameContainer) {
        height: 45px;
    }
}

@media screen and (min-width: 1025px) {
    .flexRowContent--search__results {
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
    }

    .flexCol--search__results--filter {
        border-bottom: none;
    }
    
}

@media screen and (max-width: 1025px) {
    .flexRow--result__content--filters {
        display: none;
    }
  
}

@media screen and (min-width: 1441px) {
    .flexCol--product__shelf--description {
        padding: 0px 32px;
    }
}