.element--product-summary-shelf {
    padding: 0px;
}

:global(.vtex-product-summary-2-x-container) {
    max-width: none!important;
}

.imageWrapper--product__shelf--image {
    padding: 0px;
    padding-right: 10px;
}

.brandName--product__shelf--name {
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #1b1b1b;
}

.brandName--product__shelf--name::first-letter {
    text-transform: capitalize;
}

.nameContainer--product__shelf--name {
    margin-top: 5px;
}

@media screen and (min-width: 640px) {
    .element--product-summary-shelf {
        justify-content: space-between;
    }
}