.childrenContainer--header__top-mobile-menu {
    flex-direction: column;
    position: relative;
}

.closeIconContainer--header__top-mobile-menu {
    display: none;
}

.closeIconButton--drawer-close-button {
    position: absolute;
    width: 60px;
    right: 0px;
}

.closeIcon--drawer-close-button {
    color: #000000;
}

.overlay--header__top-mobile-menu--visible {
    background-color: #000000;
    opacity: 0.5;
}