:global(.vtex-mega-menu-2-x-departmentsTitle) {
    display: none;
}

:global(.vtex-mega-menu-2-x-menuItemVertical) {
    height: 3rem;
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

:global(.vtex-mega-menu-2-x-styledLinkContainer) {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

:global(.vtex-mega-menu-2-x-caretIcon) {
    color: #000000;
    width: 14px;
}

:global(.vtex-mega-menu-2-x-styledLinkText) {
    width: 100%;
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

:global(.vtex-mega-menu-2-x-styledLinkText)::after {
    content: url('assets/img/header/header__right-arrow-icon.svg');
}

:global(.vtex-mega-menu-2-x-accordionIconContainer--isClosed) {
    display: none;
}


:global(.vtex-mega-menu-2-x-goBackButtonText) {
    display: none;
}

:global(.vtex-mega-menu-2-x-submenuContainerTitle) {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5;
    padding-left: 30px;
}

:global(.vtex-mega-menu-2-x-submenuItemVertical--isClosed) {
    background: #f5f6f8;
    border: none;
    border-bottom: 1px solid #f5f6f8;

    display: grid;
    align-items: center;
}

/* :global(.vtex-mega-menu-2-x-submenuItemVertical--isOpen) {
    padding: 0px;
} */

:global(.vtex-mega-menu-2-x-collapsibleHeaderText) {
    margin: 17px 0px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5;
    padding-left: 30px;
}

:global(.vtex-mega-menu-2-x-submenuListVertical) {
    display: flex;
    flex-direction: column;
    gap: 2px
}

:global(.vtex__icon-caret-up) {
    margin-right: 16px;
}