.paragraph--header__top-section-boton-resgistro {
    margin          : 0;
    padding         : 0.375rem 0.75rem;
    background-color: var(--main-button-color);
    color           : var(--font-color-white);
    font-family     : var(--primary-font-family);
    font-weight     : 400;
    font-size       : 0.75rem;
    text-decoration : none;
    line-height     : 1.5;
    border          : none;
    display         : flex;
    align-items     : center;
    justify-content : center;
    cursor          : pointer;
    text-align: center;
}

.paragraph--header__top-section-boton-resgistro:hover {
    background-color: var(--main-button-hover-color);
    box-shadow      : none;
}


@media screen and (max-width: 685px) {
    .paragraph--header__top-section-boton-resgistro {
        padding         : 0.375rem 0.55rem;
    }
}

@media screen and (max-width: 639px) {
    .paragraph--header__top-section-boton-resgistro {
        width           : 100%;
        height          : 32px;
        padding         : 4px 0px;
        background-color: var(--font-color-black);
        font-size       : 16px;
    }

    .paragraph--header__top-section-boton-resgistro:hover {
        background-color: var(--font-color-black);
    }

    .container--header__top-section-boton-resgistro,
    .wrapper--header__top-section-boton-resgistro {
        width: 100%;
    }
}