.container--search-result__breadcrumb {
    padding      : 17px 30px 10px;
    border-bottom: 1px solid var(--secondary-background-color);
    margin-bottom: 15px;
}

.homeLink--search-result__breadcrumb {
    display: none;
}

.link--search-result__breadcrumb {
    font-family   : var(--primary-font-family);
    font-size     : 12px;
    font-weight   : 400;
    line-height   : 17px;
    color         : var(--font-color-semiblack);
    text-transform: uppercase;
}

.homeLink--pdp__breadcrumb--layout :global(.vtex-breadcrumb-1-x-caretIcon):first-child,
.caretIcon--pdp__breadcrumb--layout,
.termArrow--pdp__breadcrumb--layout {
    display: none;
}

.link--pdp__breadcrumb--layout::after {
    content    : "/";
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {
    .container--search-result__breadcrumb {
        padding      : 17px 30px 10px 16px;
        margin-bottom: 0px;
    }

    .link--search-result__breadcrumb {
        text-transform: capitalize;
    }
}

@media screen and (max-width: 640px) {
    .container--search-result__breadcrumb {
        padding: 14px 15px 10px;
        border : none;
    }
}