.flexRow--header__top-section-layout-resgistro {
    height : 40px;
    padding: 0;
}

.flexRow--header__top-section-layout-resgistro :global(.vtex-store-components-3-x-container) {
    padding: 0;
}

@media screen and (max-width: 800px) {
    .flexRow--header__top-section-layout-resgistro {
        height: 41px;
    }
}