.menuItem--localizador-item {
    width: 137px;
}

.menuItem--header__top-section-menu {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.menuItem--ayuda-item {
    margin-left: 10px;
}

.menuItem--idioma-item,
.menuItem--moneda-item {
    margin-left: 10px;
}

.styledLinkIcon--idioma-item,
.styledLinkIcon--moneda-item {
    margin: 0px;
    margin-left: 4px;
}

.styledLinkContainer--header__top-section-menu {
    margin : 0;
    padding: 0;
}

.styledLinkContent--header__top-section-menu {
    font-family   : 'Open Sans';
    font-size     : 0.75rem;
    line-height   : 18px;
    color         : #1b1b1b;
    letter-spacing: 0.25px;
}

.styledLinkContent--header__top-section-menu:hover {
    text-decoration: underline;
}

.menuItem--mi-cuenta-item {
    width      : 69px;
    margin-left: 10px;
}

.submenuWrapper--submenu__top--general {
    padding: 0px;
    left: -69px;
    top: 8px;
    z-index: 9999;
    box-shadow: 0 0.1875rem 0.6875rem #686868;
}

.menuItem--idioma__submenu--options-general {
    padding: 10px 15px;
}

.menuItem--idioma__submenu--options-general:hover {
    background-color: rgba(104, 104, 104, .2)
}


.styledLinkContent--idioma__submenu--options-general {
    font-family: 'Open Sans';
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
}

.styledLinkContainer--idioma__submenu--options-general {
    justify-content: flex-start;
}

@media screen and (max-width: 790px) {
    .menuContainerNav--header__opciones-cuenta-menu {
        height: 48px
    }
}

@media screen and (max-width: 1024px) {
    .styledLinkContent--header__top-section-menu {
        letter-spacing: .25px;
        margin-bottom : 1px;
        flex-direction: column;
        align-items: center;
    }
}