.container {
    display        : flex;
    justify-content: center;
    margin-left    : 10px;
}

.buttonLink {
    display        : flex;
    justify-content: center;
    padding        : 0;
}

.buttonLink .vtex-button{
    width: 100%;
}

.label {
    font-family   : 'Open Sans';
    font-size     : 12px;
    line-height   : 18px;
    color         : #1b1b1b;
    text-transform: initial;
    padding       : 0px 5px 0px 7px;
    margin-top    : 2.1px;
    letter-spacing: 0.25px;
}

.label:hover {
    text-decoration: underline;
}

.profileIcon--header__top-section-login-phone {
    width : 24px;
    height: 24px;
    color : #ffffff;
}

.profile {
    display: flex;
    font-family   : 'Open Sans';
    font-size     : 12px;
    line-height   : 18px;
    color         : #1b1b1b;
    text-transform: initial;
    padding       : 0px 5px 0px 7px;
    margin-top    : 2.1px;
    letter-spacing: 0.25px;
}

.profile:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1024px) {
    .label {
        letter-spacing: .20px;
    }

    .container {
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .profile {
        max-width: 98px;
    }
}

@media screen and (max-width: 680px) {
    .profile {
        max-width: 86px;
    }
}

@media screen and (max-width: 640px) {

    .buttonLink {
        width: 36px;
    }
    
}

@media screen and (max-width: 639px) {
    .container {
        width       : 36px;
    }

    .label {
        display: none;
    }

    .container {
        margin-left : 0px;
        margin-right: 2px;
    }
    
    .profile {
        display: none;
    }
}