.menuItem--localizador-item {
    width: 137px;
}

.menuItem--header__top-section-menu {
    height         : 40px;
    padding-right  : 5px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.menuItem--ayuda-item {
    width      : 48px;
    margin-left: 10px;
}

.styledLinkContainer--header__top-section-menu {
    margin : 0;
    padding: 0;
}

.styledLinkContent--header__top-section-menu {
    font-family   : 'Open Sans';
    font-size     : 0.75rem;
    line-height   : 18px;
    color         : #1b1b1b;
    letter-spacing: 0.25px;
}

.styledLinkContent--header__top-section-menu:hover {
    text-decoration: underline;
}

.menuItem--mi-cuenta-item {
    width      : 69px;
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {
    .styledLinkContent--header__top-section-menu {
        letter-spacing: .25px;
        margin-bottom : 1px;
    }

    .menuItem--header__top-section-menu {
        height: 41px;
    }
}