.flexRow--header__modal-first-section-phone {
    background-color: #000000;
}

.flexRowContent--header__modal-first-section-phone {
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.flexCol--header__modal-general-section {
    border-radius: 0.9375rem;
    overflow     : hidden;
}
.flexColChild--layout__internal-one {
    background-color: #E20600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexRowContent--sticky__layout--internal {
    max-height: 58px;
}