.container--header__modal-layout-container-phone {
    position: relative;
    width   : 100%;
}

.paper--header__modal-layout-container-phone {
    position: absolute;
    margin  : 0px;
    bottom  : 0px;
    left    : 0px;
}

.headerContainer--header__modal-close-button-phone {
    height                   : 35px;
    width                    : 40px;
    display                  : flex;
    justify-content          : center;
    align-items              : center;
    background-color         : #ffff;
    border-bottom-left-radius: 0.625rem;
    box-shadow               : 0 0.1875rem 0.6875rem #686868;
}

.backdrop--header__modal-layout-container-phone {
    background-color: #000000;
}

.headerContainer--header__modal-close-button-phone {
    position: absolute;
    top     : 0;
    right   : 0;
    z-index : 99;
}
.triggerContainer--header__modal-trigger-container-phone{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 640px) {
    .triggerContainer--header__top-modal-container {
        width: 100%;
    }
}