.flexRow--header__modal-first-section-phone {
    background-color: #000000;
}

.flexRowContent--header__modal-first-section-phone {
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.flexCol--header__modal-general-section {
    border-radius: 0.9375rem;
    overflow     : hidden;
}
.flexRowContent--sticky__layout--internal{
    height: 52.47px;
}