.container--header__bottom-last-section-texto-phone {
    height          : 100%;
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: #E20600;
}
.wrapper--header__bottom-last-section-texto-phone{
    height: 100%;
    padding: 0.3125rem;
    display: flex;
    align-items: center;
}
.paragraph--header__bottom-last-section-texto-phone {
    margin     : 0;
    color      : #ffffff;
    font-family: 'Blender Pro';
    font-weight: 600;
    line-height: 0.75rem;
    font-size  : 15px;
}

.container--header__modal-title-phone {
    height: 37px;
}

.wrapper--header__modal-title-phone {
    height: 100%;
    width : 100%;
}

.paragraph--header__modal-title-phone {
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #ffffff;
    height         : 100%;
    font-family    : 'Open Sans';
    font-weight    : 600;
    font-size      : 20px;
    margin         : 0px;
    letter-spacing : 1px;
}