.buttonText--vendidos__shelf--buy {
    font-family   : 'Open Sans';
    font-weight   : 400;
    font-size     : 15px;
    line-height   : 15px;
    color         : #ffffff;
    text-transform: lowercase;
}

.buttonText--vendidos__shelf--buy::first-letter {
    text-transform: capitalize;
}