.sliderArrows--content__tabs--slider {
    padding: 0px;
    background-color: #393939 !important;
    width: 30px;
    height: 30px;
    padding: 7px;
    color: #ffffff;
    opacity: 0.7;
}

.sliderArrows--content__tabs--slider:hover,
.sliderArrows--content__tabs--slider:active {
    opacity: 1;
}

@media screen and (max-width: 640px) {
    .sliderArrows--content__tabs--slider {
        display: none;
    }
}