.description--vendidos__shelf--description {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size  : 0.75rem;
    line-height: 1.125rem;
    color      : #262422;
    margin     : 0px;
    margin-top : 8px;
    text-align: left;
    padding-left: 23px;
}

@media screen and (max-width: 640px) {
    .description--vendidos__shelf--description {
        padding-left: 0px;
        max-height: 55px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}