.listContainer--product__tabs--list {
    justify-content: flex-start;
    gap: 10px;
}

.listContainer--product__tabs--list :global(.vtex-tab-layout-0-x-listItemActive) {
    background-color: #E10600;
    color: #ffffff;
}

.listContainer--product__tabs--list :global(.vtex-tab-layout-0-x-listItem) {
    padding: 2px 10px;
}

.listContainer--product__tabs--list :global(.vtex-button) {
    background-color: transparent;
}

.listContainer--product__tabs--list :global(.vtex-button__label) {
    padding: 0px !important;
    font-family: 'Open Sans';
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
}

.contentContainer--product__tabs--content {
    margin: 30px 0px 0px 0px;
}

@media screen and (max-width: 640px) {
    .listContainer--product__tabs--list :global(.vtex-button__label) {
        font-size: 0.75rem;
    }
    .listContainer--product__tabs--list :global(.vtex-tab-layout-0-x-listItem) {
        padding: 2px 5px;
    }
}