.container--breadcrumb__layout {
    padding      : 10px 30px;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 15px;
}

.link--breadcrumb__layout,
.term--breadcrumb__layout {
    font-family   : 'Open Sans';
    font-size     : 12px;
    font-weight   : 400;
    line-height   : 17px;
    color         : #3863a3;
    text-transform: uppercase;
}

.term--breadcrumb__layout {
    color: #1b1b1b;
}

.caretIcon--search__result--breadcrumb,
.homeLink--breadcrumb__layout,
.arrow--breadcrumb__layout--1 :global(.vtex-breadcrumb-1-x-caretIcon) {
    display: none;
}