.container--breadcrumb__layout{
    padding: 10px 30px;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 15px;  
}

.homeLink--breadcrumb__layout{
    display: none;
}
.link--breadcrumb__layout,
.term--breadcrumb__layout{
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #3863a3;
    text-transform: uppercase;
}