.flexRowContent--product_info--container {
    padding: 0px 30px;
}

.flexRow--product__page--price-container {
    margin: 0px 15px 12px;
}

.flexRowContent--product__page--price-container {
    align-items: flex-end;
}

.flexRow--product__page--brand-container {
    margin: 16px 15px 0px;
}

.flexRowContent--product__page--brand-container {
    align-items: center;
    gap        : 6px;
}

.flexCol--product__info--data {
    margin-left: 30px;
}

.flexRow--product__page--order-container {
    margin          : 15px;
    padding         : 20px;
    background-color: #f5f6f8;
}

.flexRow--page__order--sku {
    margin-bottom: 15px;
}

:global(.vtex-product-quantity-1-x-quantitySelectorTitle) {
    font-family : 'Open Sans';
    font-size   : .875rem;
    font-weight : 600;
    color       : #242424;
    padding-left: 6px;
}


.flexRowContent--page__order--quantity-add {
    align-items: flex-end;
}

.flexRowContent--page__order--quantity-add :global(.vtex-button) {
    height: 40px;
}

.flexRowContent--page__order--quantity-add :global(.vtex-button__label) {
    background-color: #E10600;
}

.flexRowContent--page__order--quantity-add :global(.vtex-button__label):hover {
    background-color: #C70500;
}

.flexRowContent--page__order--quantity-add :global(.vtex-styleguide-9-x-container) {
    height: 40px;
    width : 80px
}

.flexRowContent--page__order--quantity-add :global(.vtex-add-to-cart-button-0-x-buttonText) {
    font-family   : 'Open Sans';
    font-weight   : 400;
    font-size     : 15px;
    line-height   : 15px;
    color         : #ffffff;
    text-transform: lowercase;
}

.flexRowContent--page__order--quantity-add :global(.vtex-add-to-cart-button-0-x-buttonText)::first-letter {
    text-transform: capitalize;
}

.flexColChild--page__order--layout {
    margin-top: 15px;
}

.flexRowContent--page__order--devolutions {
    justify-content: flex-end;
    gap: 5px;
}

.flexRow--product__page--general {
    margin: 0px 15px;
    padding: 15px 0px;
    border-top: 1px solid #d5d5d5;
}

.flexRowContent--simulator__visible {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.flexRow--product_tabs--container {
    padding: 0px 30px;
    margin: 30px 0px;
}

.flexColChild--tab__layout--general {
    height: auto !important;
}

@media screen and (max-width: 1023px) {
    .flexRowContent--product_info--container :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: 50% !important;
    }
    
    .flexRowContent--page__order--sku :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: 100% !important;
    }
    
    .flexRowContent--product_info--container{
        padding: 0px;
    }

    .flexColChild--product__info--image {
        padding-right: 30px;
    }
    
    .flexCol--product__info--data {
        margin: 0px;
    }

    .flexRowContent--product__page--order-container :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: 100% !important;
    }
    
    .flexRowContent--product__page--general :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: 100% !important;
    }
}

@media screen and (max-width: 640px) {
    .flexRowContent--product_info--container :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: inherit !important;
    }

    .flexRowContent--page__order--sku :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: inherit !important;
    }

    .flexColChild--product__info--image {
        padding-right: 0px;
    }

    .flexRow--product__page--order-container {
        margin: 15px 0px;
    }

    .flexRow--page__order--sku {
        margin-bottom: 0px;
    }

    .flexColChild--page__order--layout {
        margin-top: 0px;
    }

    .flexRow--page__order--devolutions {
        display: none;
    }

    .flexRow--product_tabs--container {
        padding: 0px 12px;
    }
}