.trigger--disclosure__trigger--general{
    width: 100%;
    padding: 0px;
    background-color: inherit;
    border: none;
}

.content--details__section {
    padding: 10px 0px;
}

.content--details__section::before {
    content: "•\00a0\00a0\00a0";
}

.content--description__section {
    padding: 10px 0px;
}