.imageElement--header__top-section-flecha-abajo {
    width : 10px;
    height: 10px;
}

.logoLink--desktop-logo-padding {
    max-width: 30%;
}

.logoLink--tablet-logo-padding {
    max-width: 25%;
}

.logoContainer--header__middle-section-logo {
    width         : auto;
    height        : 7.5rem;
    max-width     : none;
    max-height    : none;
    padding-left  : 0.9375rem;
    padding-right : 0.9375rem;
    padding-top   : 0px;
    padding-bottom: 0px;
    display       : flex;
    align-items   : center;
}

.logoImage--header__middle-section-logo {
    box-sizing: border-box;
    width     : auto;
    min-width : auto;
    height    : 7.5rem;
}

.logoLink--header__middle-section-logo{
    max-width: 25%;
}

.logoImage--dektop-logo-padding {
    padding: 1.25rem;
}

.logoImage--tablet-logo-padding {
    padding: 0.3125rem;
}

.logoLink--header__top-phone-logo {
    width : auto;
    height: 100%;
}

.logoContainer--header__top-phone-logo {
    padding     : 0px;
    padding-left: 4px;
}

.logoImage--header__top-phone-logo {
    width     : 162px;
    margin-top: 2px;
}

:global(.vtex-store-components-3-x-searchBarContainer) {
    max-width    : 41.66667%;
    padding      : 0px;
    padding-right: 0.9375rem;
    padding-left : 0.9375rem;
}

:global(.vtex-input__suffix) {
    padding: 0px;
}

:global(.vtex-input-prefix__group) {
    border: none;
    height: 36px;
}

.vtex-styleguide-9-x-input {
    padding: 0px
}

.searchBarIcon--header__search-bar-desktop {
    padding: 1px 6px;
}

.searchIcon--header__search-bar-desktop {
    width : 17px;
    height: 18px;
    color : #686868;
}