.openIconContainer--header__top-mobile-menu {
    margin : 3.5px 13px 5px 5px;
    padding: 1.5px;
}

.menuIcon--header__top-mobile-menu {
    width : 1.5rem;
    height: 1.5rem;
}

@media screen and (max-width: 640px) {
    .menuIcon--header__top-mobile-menu {
        color: #ffffff
    }
}