.container {
    padding-left : 0;
    padding-right: 0;
}

.imageElement--promotion-code__modal--trigger-image,
.imageElement--modal__promotion-layout--image {
    width : 100%;
    height: 100%;
    cursor: pointer;
}