.flexRow--header__top-section-layout-idioma,
.flexRow--header__top-section-layout-moneda {
    height         : 40px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.flexRow--header__top-section-layout-idioma {
    margin-left: 15px;
}

.flexRow--header__top-section-layout-moneda {
    margin-left: 10px;
}

.flexRow--header__top-section-layout-idioma :global(.vtex-store-components-3-x-container),
.flexRow--header__top-section-layout-moneda :global(.vtex-store-components-3-x-container) {
    padding: 0;
    margin : 0;
}

.flexRowContent--header__top-section-layout-idioma,
.flexRowContent--header__top-section-layout-moneda {
    display    : flex;
    align-items: center;
}

.flexRowContent--header__top-section-layout-idioma {
    width: 68px;
}

.flexRowContent--header__top-section-layout-moneda {
    width: 79px;
}

@media screen and (max-width: 800px) {
    .flexRow--header__top-section-layout-idioma {
        margin-left: 14px;
    }
}