.container--header__bottom-last-section-texto-codigo {
    height: 100%;
    width : 100%;
}

.wrapper--sticky-text-desktop {
    padding: 0.3125rem 1.875rem;
}

.paragraph--sticky-text-desktop {
    font-size  : 1.375rem;
    line-height: 16px;
}

.paragraph--header__bottom-last-section-texto-codigo {
    margin     : 0;
    color      : var(--font-color-white);
    font-family: var(--secondary-font-family);
    font-weight: 600;
}

.container--promotion-modal__trigger-layout--header-title {
    width          : 557px;
    height         : 84px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.paragraph--promotion-modal__trigger-layout--header-title {
    margin     : 0 0 0 55px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size  : 1.875rem;
    line-height: 5.25rem;
    color      : #fff;
}

.wrapper--header__bottom-last-section-texto-codigo {
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.wrapper--sticky-text-tablet {
    padding: 0.3125rem;
}

.paragraph--sticky-text-tablet {
    font-size  : 15px;
    line-height: 0.875rem;
}

.container--header__bottom-last-section-texto-phone {
    height          : 100%;
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: var(--main-button-color);
}

.wrapper--header__bottom-last-section-texto-phone {
    height     : 100%;
    padding    : 0.3125rem;
    display    : flex;
    align-items: center;
}

.paragraph--header__bottom-last-section-texto-phone {
    margin     : 0;
    color      : var(--font-color-white);
    font-family: var(--secondary-font-family);
    font-weight: 600;
    line-height: 0.75rem;
    font-size  : 15px;
}

@media screen and (min-width: 1024px) {
    .wrapper--header__bottom-last-section-texto-codigo {
        min-width: 220px;
    }
}