.paragraph--registroahorro__modal--title {
    margin          : 0px;
    padding         : 6px 19px;
    font-family     : 'Open Sans';
    font-size       : .875rem;
    max-width       : 15.3125rem;
    background-color: #e10600;
    line-height     : 1.85;
    color           : #ffff;
    cursor          : pointer;
}

.paragraph--registroahorro__modal--title:hover {
    background-color: #C70500;
}