.flexRow--product__list--content {
    padding: 25px 0px;
    border-bottom: 1px solid #d5d5d5;
}

.flexCol--list__content--description {
    padding: 0px .625rem 0px 1rem;
    gap    : 8px;
}

.flexRowContent--content__description--variations {
    justify-content: flex-start;
}

.flexRow--product__list--content:first-child {
    border-top: 1px solid #d5d5d5;
}

.flexCol--list__content--remove {
    align-items: center;
}