.flexRow--product__list--content {
    padding: 25px 0px;
    border-bottom: 1px solid #d5d5d5;
}

.flexCol--list__content--description {
    padding: 0px .625rem 0px 1rem;
    gap    : 8px;
}

.flexRowContent--content__description--variations {
    justify-content: flex-start;
}

.flexRow--product__list--content:first-child {
    border-top: 1px solid #d5d5d5;
}

.flexCol--list__content--remove {
    align-items: center;
}

.flexRowContent--minicart_footer :global(.vtex-button) {
    background-color: #E10600;
}

.flexRowContent--minicart_footer :global(.vtex-button):hover {
    background-color: #C70500;
}

.flexRowContent--minicart_footer :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 80% !important;
}

.flexRowContent--minicart_footer :global(.vtex-checkout-summary-0-x-summaryItemPrice) {
    flex: initial;
    text-transform: capitalize;
}

.flexRowContent--minicart_footer :global(.vtex-checkout-summary-0-x-summaryItemContainer) {
    justify-content: center;
    gap: 4px;
}

.flexRowContent--minicart_footer :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
    text-align: center;
}