:global(.vtex-product-list-0-x-productImage) {
    max-width: 90%;
}

:global(.vtex-product-list-0-x-productName) {
    font-family: 'Open Sans';
    font-size: 1rem;
    line-height: 1.5;
    color: #1b1b1b;
    font-weight: 400;
}

:global(.vtex-product-list-0-x-deleteIcon){
    width: 14px;
    height: 14px;
    color: #000000;
}