.flexRowContent--global__login--content :global(.vtex-login-2-x-loginOptionsContainer) {
    display: none;
}



.flexRowContent--global__login--content :global(.vtex-login-2-x-content--emailAndPassword) {
    min-height: auto;
    max-width : none;
    padding   : 0px;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-contentFormVisible) {
    margin : 40px;
    padding: 40px;
    border : 4px solid #242424;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-formTitle) {
    margin       : 0px;
    margin-bottom: 50px;
    padding      : 0px;
    font-size    : 'Open  Sans';
    font-size    : 1rem;
    font-weight  : 600;
    text-align   : left;
    color        : #242424;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-inputContainer) {
    width        : 312px;
    padding      : 0px;
    border       : 1px solid #b5b5b5;
    border-radius: 0.1875rem;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-inputContainerEmail) {
    margin-bottom: 15px;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-inputContainerPassword) {
    margin-bottom: 35px;
}

.flexRowContent--global__login--content :global(.vtex-styleguide-9-x-input) {
    margin     : 8px;
    padding    : 5px;
    font-family: 'Open Sans';
    font-size  : .875rem;
    line-height: 1.625rem;
    color      : #242424;
}

.flexRowContent--global__login--content :global(.vtex-styleguide-9-x-input)::placeholder {
    font-style : italic;
    line-height: 1.5rem;
    color      : #767676;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-eyeIcon--invisible) {
    display: none;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-sendButton) :global(.vtex-button__label) {
    display        : flex;
    justify-content: flex-start;
    padding-left   : 72px;
    color          : transparent;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-sendButton) :global(.vtex-button__label)::after {
    content       : "iniciar Sesión";
    font-family   : 'Open Sans';
    font-size     : .9375rem;
    font-weight   : 400;
    line-height   : 1;
    text-transform: capitalize;
    color         : #fff;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-sendButton) {
    margin          : 0px;
    height          : 2.5rem;
    margin-bottom   : 1.25rem;
    background-color: #E10600;
    border-radius   : 3px;
    box-shadow      : 0 -2px 0 rgb(0 0 0 / 30%) inset;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-sendButton):hover {
    background-color: #C70500;
}

.flexRowContent--global__login--content :global(.vtex-button) {
    width: 100%;
    height          : 100%;
    background-color: transparent;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-formFooter) {
    margin       : 0px;
    margin-bottom: 50px;
    padding      : 0px;
    border       : none;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-forgotPasswordLink) {
    top           : 350px;
    margin-left   : -81px;
    text-transform: uppercase;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-dontHaveAccount) {
    top        : 103px;
    margin-left: -155px;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-forgotPasswordLink),
.flexRowContent--global__login--content :global(.vtex-login-2-x-dontHaveAccount) {
    position       : absolute;
    left           : 50%;
    font-family    : 'Open Sans';
    font-size      : .875rem;
    font-weight    : 400;
    line-height    : 1.5;
    text-decoration: underline;
    color          : #686868;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-content--beginCreatePass) :global(.vtex-login-2-x-formFooter),
.flexRowContent--global__login--content :global(.vtex-login-2-x-content--recoveryPassword) :global(.vtex-login-2-x-formFooter) {
    display       : flex;
    flex-direction: column-reverse;
    margin-bottom : 0px;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-content--beginCreatePass) :global(.vtex-login-2-x-formTitle),
.flexRowContent--global__login--content :global(.vtex-login-2-x-content--recoveryPassword) :global(.vtex-login-2-x-formTitle) {
    display       : flex;
    flex-direction: column;
    margin-bottom : 25px;
    font-family   : 'Open Sans';
    font-size: 1rem;
    line-height: 1.5;
    color: #242424;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-content--beginCreatePass) :global(.vtex-login-2-x-formTitle)::after {
    max-width: 302px;
    content: "Enviaremos un correo electrónico con instrucciones para crear o acceder a tu cuenta";
    font-size: .875rem;
    font-weight: 400;
    color: #686868;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-content--beginCreatePass) :global(.vtex-login-2-x-sendButton) {
    margin-top: 10px;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-content--beginCreatePass) :global(.vtex-login-2-x-backButton) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-content--beginCreatePass) :global(.vtex-login-2-x-backButton) :global(.vtex-button) {
    width: 100%;
}
.flexRowContent--global__login--content :global(.vtex-login-2-x-content--beginCreatePass) :global(.vtex-login-2-x-backButton) :global(.vtex-button__label) {
    display        : flex;
    justify-content: flex-start;
    padding-left   : 21px;
    color          : transparent;
}
.flexRowContent--global__login--content :global(.vtex-login-2-x-content--recoveryPassword) :global(.vtex-login-2-x-backButton) {
    margin-top: 10px;
}
.flexRowContent--global__login--content :global(.vtex-login-2-x-content--recoveryPassword) :global(.vtex-login-2-x-backButton) :global(.vtex-button__label) {
    display        : flex;
    justify-content: flex-start;
    padding-left   : 121px;
    color          : transparent;
}
.flexRowContent--global__login--content :global(.vtex-login-2-x-content--beginCreatePass) :global(.vtex-login-2-x-backButton) :global(.vtex-button__label)::after {
    content: "vuelta al inicio de sesión";
    font-family    : 'Open Sans';
    font-size      : .875rem;
    font-weight    : 400;
    line-height    : 1.5;
    text-decoration: underline;
    color          : #686868;
}
.flexRowContent--global__login--content :global(.vtex-login-2-x-content--recoveryPassword) :global(.vtex-login-2-x-backButton) :global(.vtex-button__label)::after {
    content: "REGRESAR";
    font-family    : 'Open Sans';
    font-size      : .875rem;
    font-weight    : 400;
    line-height    : 1.5;
    text-decoration: underline;
    color          : #686868;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-content--beginCreatePass) :global(.vtex-login-2-x-arrowBackIcon) {
    display: none;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-content--beginCreatePass) :global(.vtex-login-2-x-sendButton) {
    display        : flex;
    justify-content: flex-start;
    color          : transparent;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-content--beginCreatePass) :global(.vtex-button__label)::after {
    content       : "Enviar";
    padding-left   : 21px;
    font-family   : 'Open Sans';
    font-size     : .9375rem;
    font-weight   : 400;
    line-height   : 1;
    text-transform: capitalize;
    color         : #fff;
}
.flexRowContent--global__login--content :global(.vtex-login-2-x-content--recoveryPassword) :global(.vtex-button__label)::after {
    content       : "Guardar";
    padding-left   : 24px;
    font-family   : 'Open Sans';
    font-size     : .9375rem;
    font-weight   : 400;
    line-height   : 1;
    text-transform: capitalize;
    color         : #fff;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-content--recoveryPassword) :global(.vtex-login-2-x-formSubtitle ) {
    max-width: 468px;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-content--recoveryPassword) :global(.vtex-login-2-x-inputContainer) {
    width: 460px;
}

.flexRowContent--global__login--content :global(.vtex-login-2-x-content--recoveryPassword) :global(.vtex-login-2-x-inputContainerAccessCode) {
    margin-bottom: 30px;
}
.flexRowContent--global__login--content :global(.vtex-login-2-x-content--recoveryPassword) :global(.vtex-login-2-x-inputContainerPassword) {
    margin-bottom: 10px;
}
.flexRowContent--global__login--content :global(.vtex-login-2-x-content--recoveryPassword) :global(.vtex-login-2-x-sendButton) {
    width: 330px;
    margin: 0 auto;
    margin-top: 15px;
}


@media screen and (max-width: 640px) {
    .flexRowContent--global__login--content :global(.vtex-login-2-x-contentFormVisible) {
        width: 100%;
        margin : 0px;
        border : none;
    }
}