:global(.vtex-mega-menu-2-x-departmentsTitle),
:global(.vtex-mega-menu-2-x-goBackButtonText),
:global(.vtex-mega-menu-2-x-collapsibleContent) :global(.vtex-mega-menu-2-x-styledLinkText)::after,
:global(.vtex-mega-menu-2-x-seeAllLinkContainer) {
    display: none;
}

:global(.vtex-mega-menu-2-x-menuItemVertical) {
    height         : 3rem;
    padding-left   : 15px;
    padding-right  : 10px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    border-bottom  : 1px solid #f5f6f8;
}

:global(.vtex-mega-menu-2-x-styledLinkContainer) {
    margin : 0px;
    padding: 0px;
    width  : 100%;
}

:global(.vtex-mega-menu-2-x-caretIcon) {
    fill : #000;
    width: 14px;
}

:global(.vtex-mega-menu-2-x-styledLinkText) {
    justify-content: flex-start;
    width          : 100%;
    font-family    : 'Open Sans';
    font-size      : 1rem;
    font-weight    : 400;
    line-height    : 1.5;
}

:global(.vtex-mega-menu-2-x-styledLinkIcon):nth-last-child() {
    width : 40px;
    height: 40px;
}


:global(.vtex-mega-menu-2-x-submenuContainerTitle) {
    font-family : 'Open Sans';
    font-weight : 600;
    font-size   : 1.125rem;
    line-height : 1.5;
    padding-left: 30px;
}

:global(.vtex-mega-menu-2-x-submenuItemVertical--isClosed) {
    border       : none;
    border-bottom: 1px solid #f5f6f8;
}

:global(.vtex-mega-menu-2-x-submenuItemVertical--isOpen) {
    background-color: transparent;
}

:global(.vtex-mega-menu-2-x-collapsibleHeaderText) {
    margin     : 10px 0px;
    font-family: 'Open Sans';
    line-height: 1.5;
}

:global(.vtex-mega-menu-2-x-submenuListVertical) {
    display       : flex;
    flex-direction: column;
    gap           : 2px
}

:global(.vtex__icon-caret-up) {
    margin-right: 16px;
}

:global(.vtex-mega-menu-2-x-menuContainerVertical) {
    margin: 0px;
}