.flexRow--home__welcome :global(.vtex-store-components-3-x-container){
    max-width: none;
}
.flexCol--welcome__container {
    margin: 15px 20px 40px 20px;
}
.flexCol--welcome__description--conatiner{
    max-height: 11.36rem;
    padding-right: 1.25rem;
    overflow-y: scroll;
}
.flexCol--welcome__container :global(.vtex-flex-layout-0-x-flexColChild){
    height: auto;
}


@media screen and (max-width: 640px) {
    .flexCol--welcome__container{
        margin: 16px 35px 30px;
    }
    .flexCol--welcome__description--conatiner{
        padding: 0px;
    }
}