.paragraph--welcome__title{
    font-family: 'Open Sans';
    font-size: 1.375rem;
    font-weight: 600;
    color: #242424;
    margin: 15px 0px;
    line-height: 36px;
}
.paragraph--description__one{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #242424;
    margin: 0px;
    margin: 15px 0px;
}
.paragraph--description__two{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #242424;
    margin: 0px;
    margin-bottom: 14px;
}
@media screen and (max-width: 640px) {
    .paragraph--description__one,
    .paragraph--description__two{
        font-size: 16px;
    }
}