.flexRow--phone__home--slider{
    margin-top: 8px;
}
.flexRow--phone__home--slider :global(.vtex-store-components-3-x-container){
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}