.flexCol--equipo__submenu--general{
    flex-direction : row;
    justify-content: center;
    width          : max-content;
    padding: 3px 5px;
}

.flexCol--equipo__submenu--general:hover{
    background-color: rgba(104,104,104,.2);
}

.flexColChild--equipo__submenu--general {
    display        : flex;
    justify-content: center;
    width          : max-content;
    align-items    : center;
}

.flexColChild--equipo__submenu--general:first-child {
    padding-right: 10px;
}
.flexColChild--equipo__submenu--general:last-child {
    width: 218px;
    justify-content: flex-start;
}

.flexRow--equipo__submenu--layout-one,
.flexRow--equipo__submenu--layout-two,
.flexRow--equipo__submenu--layout-three {
    padding: 0px 20px;
}

.flexRow--equipo__submenu--layout-four {
    padding: 10px;
    margin-top: 10px;
    background-color: #f5f6f8;
}

.flexRow--submenu__pilotos--one{
    padding: 0px 10px;
}

.flexCol--piloto__submenu--pilotos,
.flexCol--piloto__submenu--legends {
    padding: 10px;
}