.menuItem--header__bottom-section-menu {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    flex-grow      : 1;
}



.menuItem--header__bottom-section-menu:hover {
    background-color: #f2f2f2;
}

:global(.vtex-menu-2-x-styledLinkContainer) {
    display        : flex;
    height         : 100%;
    width         : 100%;
    padding        : 0;
    margin         : 0;
    justify-content: center;
    align-items    : center;
}

.styledLinkContent--header__bottom-section-menu {
    justify-content: center;
    font-family    : 'Open Sans';
    font-size      : 12px;
    color          : #1b1b1b;
    font-weight    : 600;
    line-height    : 35px;
    letter-spacing : 0.85px;
}

.submenuWrapper--compra__equipo--submenu,
.submenuWrapper--compra__piloto--submenu,
.submenuWrapper--compra__regalos--submenu,
.submenuWrapper--compra__coleccionables--submenu {
    z-index         : 1000;
    background-color: #fff;
    padding         : 0px;
    padding-top     : 10px;
}

.submenu--compra__equipo--submenu {
    padding-top: 10px;
}

.styledLink--header__bottom-section-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styledLinkContent--header__bottom-section-menu {
    font-family: 'Open Sans';
    font-size  : 13px;
    font-weight: 400;
    line-height: 1.5;
    color      : #000000;
}

.menuContainer--compra__equipo--submenu--options {
    flex-direction: column;
}

:global(.vtex-menu-2-x-menuContainer) {
    height: 100%;
}

.menuItem--pilotos__submenu--general:hover,
.menuItem--regalos__submenu--general:hover,
.menuItem--coleccionables__submenu--general:hover {
    background-color: rgba(104, 104, 104, .2);
}

.styledLinkContainer--pilotos__submenu--general {
    width          : 257px;
    padding        : 3px 5px;
    justify-content: flex-start;
}

.styledLink--pilotos__submenu--general {
    width: 100%;
    font-family: 'Open Sans';
    font-size  : 13px;
    font-weight: 400;
    line-height: 1.5;
    color      : #000000;
}

.styledLinkContent--pilotos__submenu--general {
    width: 100%;
    margin-left: 10px;
}

.styledLinkContent--pilotos__submenu--sebastian-vettel,
.styledLinkContent--pilotos__submenu--sergio-perez,
.styledLinkContent--pilotos__submenu--valtteri-bottas,
.styledLinkContent--pilotos__submenu--yuki-tsunoda {
    margin-left: 5px;
}

.menuContainerNav--compra__regalos--submenu--options,
.menuContainerNav--compra__coleccionables--submenu--options {
    padding: 10px;
}

.menuContainer--compra__regalos--submenu--options,
.menuContainer--compra__coleccionables--submenu--options {
    padding: 0px 10px;
}

.menuItem--regalos__submenu--general,
.menuItem--coleccionables__submenu--general {
    padding: 3px 5px;
}


.styledLinkContainer--regalos__submenu--general {
    width          : 200px;
    justify-content: flex-start;
}

.styledLinkContent--regalos__submenu--general {
    margin-left: 10px;
}

.styledLink--regalos__submenu--general {
    width: 100%;
    font-family: 'Open Sans';
    font-size  : 13px;
    font-weight: 400;
    line-height: 1.5;
    color      : #000000;
}

.submenuContainer--compra__regalos--submenu {
    position: absolute;
    top     : 195px;
    right   : 880px;
}

.submenuContainer--compra__coleccionables--submenu {
    position: absolute;
    top     : 195px;
    right   : 1102px;
}

.submenuContainer--compra__piloto--submenu {
    position: inherit;
}

.styledLinkContainer--coleccionables__submenu--general {
    width          : 521px;
    justify-content: flex-start;
}

.styledLink--coleccionables__submenu--general {
    width: 100%;
    font-family: 'Open Sans';
    font-size  : 13px;
    font-weight: 400;
    line-height: 1.5;
    color      : #000000;
}

.styledLinkContent--coleccionables__submenu--general{
    margin-left: 10px;
}

.menuItem--equipo__submenu--general {
    width: 100%;
}

.styledLink--equipo__submenu--general {
    width: 100%;
}